<header>
  <h1>This app has been made possible because of :</h1>
  <ul>
    <li>Angular 11</li>
    <li>Firebase</li>
    <li>Visual Studio Code</li>
    <li>GIT</li>
    <li>Github</li>
  </ul>

  <p>
    If you liked this project then please show some love on Github by adding a
    <span>⭐</span>
  </p>
  <br />
  <a
    mat-raised-button
    href="https://github.com/SKGHD/ng-kanban-board"
    target="blank"
    color="primary"
    >Source</a
  >
</header>
<footer>
  <p>Made with 💛 by</p>
  <p>Sangram Gorai &copy; 2021</p>
</footer>
